@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: rgba(175, 89, 158, 0.3);
    line-height: 1.2;
    max-width: 1200px;
    padding: auto;
    margin: auto;
}

li, a {
    text-decoration: none;
    color: inherit;
}

main, header {
    max-width: 1200px;
    margin: auto;
}

main {
    padding-top: 90px;
}


.logo {
    width: 200px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    position: fixed;
    width: 100%;
    background-color: rgba(175, 89, 158, 0.9);
    top: 0;
    left: 0;
    z-index: 1;
}

#menu-button {
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 26px;
    width: 40px;
    height: 40px;
}

span#close-menu {
    display: none;
}

nav {
    display: none;
}

ul.nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

li.menu-item {
    margin: 5px;
}

li.menu-item a {
    padding: 15px;
    display: inline-block;
}

li.menu-item:hover {
    background: rgba(175, 89, 158, 0.3);
    transition: background-color 0.3s;
}



body.mobile-menu-active {
	overflow: hidden;
}

body.mobile-menu-active span#close-menu {
	display: block;
}

body.mobile-menu-active span#open-menu {
	display: none;
}

body.mobile-menu-active header {
	height: 100vh;
	flex-wrap: wrap;
	align-items: flex-start;
	transition: height 0.3s;
}

body.mobile-menu-active nav {
	display: block;
	width: 100%;
	height: 50%;
}

body.mobile-menu-active ul#menu {
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}

.nav_links li {
    display: inline-block;
    padding: 0.5px;
    font-weight: bold;
    box-shadow: inset 0 0 0 0 rgba(175, 89, 158, 0.1);
    border-radius: 5px;
    color: #fbfbfb;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav_links li:hover {
    color: rgba(175, 89, 158, 0.7);
    box-shadow: inset 250px 0 0 0 #fbfbfb;
}

.nav_links li:last-child {
    padding-top: 30px;
}
.nav_links li:last-child:hover {
    box-shadow: none;
}


.foto_perfil {
    width: 80%;
    border-radius: 50%;
}

#foto {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}


.section1, .section2 {
    min-height: 70vh;
    margin: 0 10px;
    padding: 20px;
}

.presentacion {
    /* min-height: 100vh; */
    text-align: center;
    padding: 20px 0;
}

.presentacion h1 {
    font-size: 36px;
    padding-bottom: 20px;
}

.bottom {
    display: flex;
    justify-content: center;
}

#descargar {
    background-color: #af599e;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    width: 250px;
    /* height: 30px; */
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgba(175, 89, 158, 0.1);
    transition: color .3s ease-in-out, box-shadow .5s ease-in-out;
}

#descargar:hover {
    background-color: rgba(175, 89, 158, 0.3);
    color: #fbfbfb;
    box-shadow: inset 250px 0 0 0 #af599e;
}


.contacto {
    background-color: rgba(175, 89, 158, 0.3);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.contacto h2 {
    font-size: 28px;
    padding: 20px;
}

.enlaces ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.enlaces li {
    display: inline-block;
    padding: 5px;
    font-size: 100px;
    color: rgba(175, 89, 158, 0.5);
    position: relative;
    transition: .5s;
}

.enlaces li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 400px;
    background: transparent;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.enlaces li:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #af599e;
}

.enlaces li:hover {
    color: #af599e;
    text-shadow: 0 0 5px #af599e;
    border-radius: 400px;
}


footer {
    height: 90px;
    background-color: #af599e;
    color: #fbfbfb;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer li {
    list-style: none;
    padding: 2px;
    font-weight: bold;
}

#subir {
    font-size: 60px;
}

#portfolio {
    padding: 100px 0;
}

.subtitle {
    text-align: center;
    font-size: 48px;
}

.work_list {
    display: grid;
    grid-template-columns: none;
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: #fbfbfb;
    margin: 0 30px;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.capa {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #af599e);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height  0.5s;
}

.capa h3 {
    margin-bottom: 5px;
    font-size: 24px;
}

.capa a{
    margin-top: 10px;
    color: #ff004f;
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
    background: #fbfbfb;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .capa {
    height: 100%;
}
